/*=============================================
         Custom codes for panda commerce 
==============================================*/
.panda-bg{
    background-color: #fceae8;    
}
.panda-btn{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 8px;
    color: white;
    padding: 9px 25px ;
    border: none;
}
.panda-bg-watch{
    background-color: orange;
}
.panda-bg-bag{
    background-color: orchid;
}
.panda-bg-shoes{
    background-color: blue;
}